{
	"ApiToken": "a1VrLLmRMPStaX3pA8TPdh2Kl2QS3q",
	"ApiUser": "cf3YtkHfnSQkYb8GTWSZuPrddTPymQ",
	"DocumentRoot": "/home/bob/cip.li",
	"Path": "rem",
	"Port": ":42888",
	"RemScript": "/home/bob/.config/rem/rem_script"
}
